<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav class="app-sidenav " [opened]=false [mode]="isScreenSmall ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a matLine [routerLink]="['/home'] " style="text-decoration:none; color: unset;">
          Home
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a matLine [routerLink]="['/home/tables'] " style="text-decoration:none; color: unset;">
          Poker Tables
        </a>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav) = "sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
