<div class="mat-elevation-z8" *ngIf='pokerTables && pokerTables.length'>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="tableName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Table Name </th>
      <td mat-cell *matCellDef="let node"> {{node.tableName}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfPlayers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number Of Players </th>
      <td mat-cell *matCellDef="let node"> {{node.numberOfPlayers }} </td>
    </ng-container>

    <ng-container matColumnDef="bigBlind">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Big Blind </th>
      <td mat-cell *matCellDef="let node"> {{node.bigBlind }} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let node"> {{node.id}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'tableName', 'numberOfPlayers', 'bigBlind']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id',
    'tableName',  'numberOfPlayers', 'bigBlind']" [routerLink]="'/home/tables/' + row.id" class="row-hover"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data found</td>
    </tr>
  </table>
  <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
