
  <div class="table_title">
    <h1>Table {{tableId}}</h1>
  </div>

  <div class="playing_container">
    <div class="container">
      <div class="flop">
        <div class="poker_cards_container">
          <div *ngFor="let card of cards">
            <img   [src]="'../../../../assets/cards/'+ card + '.png'" alt="No buena" width="100" height="150" class="board-card">
          </div>
        </div>
      </div>

      <img src="../../../../assets/poker_table.png" class="poker_table">

    </div>
  </div>




