.container {
  position: relative;
  min-height: 600px;
  min-width: 1300px;
}
.playing_container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.table_title{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.board-card {
  padding: 2px;
}

.poker_cards_container {
  position: absolute;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 600px;
  min-width: 600px;
}

.poker_table {
  position: absolute;
  width: 1300px;
  height: 600px;
  top: 0;
  left: 0;
  z-index: -1;
}

.flop {
  position: absolute;
  top: 35%;
  left: 350px;

}
